<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">Examcenter <i>wants you to help in clearing your exams </i> this is an initiative
          to help the Students and professionals to access their knowledge by giving mock exams.
          Exam center focuses on providing gudiance to the exam aspirants.</p>
      </div>
      <div class="col-xs-7 col-md-4">
        <h6>Number of Visitors : <app-animated-counter [digit]="questionsService.userVisitCount" [duration]="1000">
          </app-animated-counter>
        </h6>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
          <a href="http://postalexamcenter.co.in/">examcenter</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>